header {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  height: 75px;
  width: 100vw;
  z-index: 100;
  font-size: clamp(11px, 1.2vw, 1.2vw);
}
.nameSection {
  flex: 20%;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  color: white;
  background-color: transparent;
}
@media screen and (max-width: 1080px) {
  .nameName {
    font-size: 17px;
  }
}
.linkSection {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  flex: 80%;
  color: white;
  list-style: none;
}
.active {
  color: purple;
  font-size: 21px;
  border-bottom: solid purple 2px;
}

.linkSection a {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
.linkSection img {
  width: 25px;
  height: 25px;
  color: white;
}
.linkSection a:hover {
  color: purple;
}
